In [72]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

In [83]:
def salary_search_glassdoor(url_glassdoor):
    headers = {'user-agent': 'Mozilla/5.0'}


    response = requests.get(url_glassdoor, 
                        headers = headers)
    
    soup = response.text
    beautiful_soup = BeautifulSoup(soup, 'html.parser')
    
    employer_list = beautiful_soup.find_all('h3', {'data-test': re.compile('salaries-list-item-.*-employer-name')})

    salary_list = beautiful_soup.find_all('div', {'data-test': re.compile("salaries-list-item-.*-salary-info")})
    
    complete_list = []

    for employer, salary in zip(employer_list, salary_list):
        employer_name = employer.find('a').text

        employer_salary = salary.find('h3').text
        employer_salary = employer_salary.replace('R$', '').replace('\xa0', '').replace('.', '')

        complete_list.append((employer_name, employer_salary))
        
    df_complete = pd.DataFrame(complete_list, columns = ['Employer', 'Salary'])

    df_complete['Salary'] = df_complete['Salary'].astype(np.float32)
    df_complete
    
    return df_complete

In [88]:
df_civil = salary_search_glassdoor('https://www.glassdoor.com.br/Sal%C3%A1rios/engenheiro-civil-sal%C3%A1rio-SRCH_KO0,16.htm')
df_civil

                            Employer   Salary
0                          Grupo MRV  10110.0
1                            Novonor  11772.0
2                           autonomo   5895.0
3            Caixa Econômica Federal  19142.0
4                 Empresas Concremat  10572.0
5                               Vale  12715.0
6                  Andrade Gutierrez  10866.0
7               Cyrela Brazil Realty   7684.0
8                             SABESP  10901.0
9   Even Construtora e Incorporadora  10440.0
10             Direcional Engenharia   9344.0
11                 Construtora Tenda   6394.0
12                   Construtora OAS  10691.0
13                 Petrobras Energía  11712.0
14                           Sanepar  12681.0
15                           Arcadis  11018.0
16                    Queiroz Galvão  11238.0
17                           Saneago  11852.0
18                            Progen  10054.0
19                 Zopone Engenharia   8598.0